<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuki.animedownloader.mapper.ResourceInfoMapper">

    <insert id="insertOrUpdate">
        replace into resource_info
        (uuid, name, detail_url, magnet_uri, total_file_size, type, language, resolution, uploader, posted_time, remark)
        values
        <foreach collection="dataList" item="data" separator=",">
            (#{data.uuid}, #{data.name}, #{data.detailUrl}, #{data.magnetUri}, #{data.totalFileSize}, #{data.type}, #{data.language},
            #{data.resolution}, #{data.uploader}, #{data.postedTime}, #{data.remark})
        </foreach>
    </insert>
</mapper>